/* GOOGLE FONT IMPORT [POPPINS] */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

/* DEFAULTS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
	height: 100vh;
	width: 100vw;
	color: #fff;
	background-color: #523657;
	overflow-x: hidden;
}

main {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template: auto 1fr / 1fr 4fr;
}

h3 {
	margin-bottom: 0.5rem;
}

p {
	font-size: 0.9rem;
	font-weight: 200;
}

hr {
	margin: 0.75rem 0;
}

ul {
	list-style-type: none;
}

img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

button {
	cursor: pointer;
	height: 2rem;
	margin: 0 0.25rem;
	padding: 0 0.75rem;
	font-weight: 200;
	color: #fff;
	background-color: #014164;
	border: 1px solid #000;
	border-radius: 15px;
	transition: all 0.2s linear;
}

button:hover {
	font-weight: 300;
	background-color: #202020;
	border-color: #fff;
}

/* HEADER SECTION */
.header {
	grid-area: 1 / 2 / 2 / 4;
	border-bottom: 1px solid #fff;
}

.top-bar,
.lower-bar {
	padding: 0 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.top-bar {
	margin-top: 1rem;
}

input[type="text"] {
	border: 1px solid #000;
	border-radius: 10px;
}

.account {
	display: flex;
	align-items: center;
}

.account img {
	margin: auto 1.5rem;
}

.lower-bar {
	margin: 0.5rem auto;
}

.hello {
	font-size: 0.75rem;
	font-weight: 300;
	display: block;
}

/* DASHBOARD SECTION */
.dashboard {
	background-color: #014164;
	grid-area: 1 / 1 / 5 / 2;
	grid-template: repeat(4, 1fr) / repeat(2, 1fr);
}

.dashboard h2 {
	text-align: center;
	margin: 2rem 0;
}

.dashboard ul {
	margin: 3rem auto 3rem 3rem;
	line-height: 2.5rem;
}

.dashboard ul:first-of-type {
	grid-area: 2 / 1 / 3 / 2;
}

.dashboard ul:nth-of-type(2) {
	grid-area: 3 / 1 / 4 / 2;
}

/* FEED SECTION */
.feed {
	grid-area: 2 / 2 / 5 / 4;
	display: grid;
	grid-template: repeat(6, 1fr) / repeat(7, 1fr);
}

.card {
	height: 100%;
	padding: 0.5rem;
	border-radius: 15px;
	box-shadow: 0 0 0.25rem #000000;
	overflow: hidden;
}

/* PROJECTS */
.projects-container {
	margin-bottom: 1rem;
	padding: 0 1rem;
	grid-area: 1 / 1 / 7 / 6;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 10px;
}

.projects-container h3 {
	grid-area: 1 / 1 / 2 / 5;
	margin: 1rem auto 0 auto;
}

.project {
	height: fit-content;
	grid-area: auto / 1 / auto / 5;
}

.project-icons {
	margin-left: 85%;
}

/* ANNOUNCEMENTS */
.announcements-container {
	margin: 1rem;
	grid-area: 1 / 6 / 5 / 8;
}

/* TRENDING */
.trending-container {
	margin: 3rem 1rem 3rem 1rem;
	grid-area: 5 / 6 / 7 / 8;
}

.trending-user {
	margin: 2rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
